.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.logo {
  align-self: flex-start;
  margin-left: 10px;
  position: fixed;
  top: 50px;
  left: 300px;
}

.buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 300px;
  margin-bottom: 10px;
}

.buttons li {
  list-style-type: none; /* Remove bullet points */
  margin-bottom: 10px;
}

.buttons a {
  text-decoration: none; /* Remove underline */
}

.keywordSection {
  text-align: center;
  margin-top: 20px;
}

.writingSection {
  width: 500px;
  margin-top: 20px;
}

.titleSection {
  margin-bottom: 10px;
}

.titleBorder {
  border: none;
  padding: 10px;
}

.titleInput {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
  background-color: #f2f2f2;
}

.titleBorder {
  border: 1px solid #ccc;
  padding: 10px;
}

.titleHeader {
  text-align: center;
  font-weight: bold;
}

.contentSection {
  border: 1px solid #ccc;
  padding: 10px;
  height: 20em;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.contentInput {
  width: 100%;
  height: 25em;
  border: none;
  overflow: hidden;
  box-sizing: 100%;
  line-height: 100%;
  background-color: #f2f2f2;
}

.characterCount {
  text-align: right;
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.publishSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.charCountBox {
  font-size: 12px;
}

.submitBtn {
  background-color: #ccc;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.completionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
